{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="site">


		<!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">

					<div class="page-header__title">
						<h1>سبد خرید</h1></div>
				</div>
			</div>
			<div class="cart block">
				<div class="container">
					<table class="cart__table cart-table">
						<thead class="cart-table__head">
							<tr class="cart-table__row">
								<th class="cart-table__column cart-table__column--image">تصویر</th>
								<th class="cart-table__column cart-table__column--product">محصول</th>
								<th class="cart-table__column cart-table__column--price">قیمت</th>
								<th class="cart-table__column cart-table__column--quantity">تعداد</th>
								<th class="cart-table__column cart-table__column--total">جمع کل</th>
								<th class="cart-table__column cart-table__column--remove">حذف</th>
							</tr>
						</thead>
						<tbody class="cart-table__body">
						{% for item in cart %}
							<tr class="cart-table__row">
								<td class="cart-table__column cart-table__column--image">
									<a href="{% url 'product-detail' item.product.slug %}"><img src="{{item.product.product_image.url}}" alt=""></a>
								</td>
								<td class="cart-table__column cart-table__column--product"><a href="{% url 'product-detail' item.product.slug %}" class="cart-table__product-name">{{item.product.title}}</a>
								</td>
								<td class="cart-table__column cart-table__column--price" data-title="قیمت">{{item.price}} تومان</td>
								<td class="cart-table__column cart-table__column--quantity" data-title="تعداد">
									<div class="input-number">
										<form  method="post" action="{% url 'cart:cart_add' item.product.id %}">
											{{item.update_product_count_form.product_count}}
											{{item.update_product_count_form.update}}
											{% csrf_token %}
											<input type="submit" value="ثبت تعداد">
										</form>
									</div>
								</td>
								<td class="cart-table__column cart-table__column--total" data-title="جمع کل">{{item.total_price}} تومان </td>
								<td class="cart-table__column cart-table__column--remove">
									<a href = "{% url 'cart:cart_remove' item.product.id %}" >
										<svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20px" height="20px">
										<path d="M21,4H17.9A5.009,5.009,0,0,0,13,0H11A5.009,5.009,0,0,0,6.1,4H3A1,1,0,0,0,3,6H4V19a5.006,5.006,0,0,0,5,5h6a5.006,5.006,0,0,0,5-5V6h1a1,1,0,0,0,0-2ZM11,2h2a3.006,3.006,0,0,1,2.829,2H8.171A3.006,3.006,0,0,1,11,2Zm7,17a3,3,0,0,1-3,3H9a3,3,0,0,1-3-3V6H18Z"/>
											<path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18Z"/>
										<path d="M14,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z"/></svg></a>
								</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
					<div class="cart__actions">
						<form class="cart__coupon-form">
							<label for="input-coupon-code" class="sr-only">رمز عبور</label>
							<input type="text" class="form-control" id="input-coupon-code" placeholder="کد تخفیف">
							<button type="submit" class="btn btn-primary">کد تخفیف</button>
						</form>
						<div class="cart__buttons"><a href="index.html" class="btn btn-light">ادامه خرید</a>
							<a href="" class="btn btn-primary cart__update-button">به روز رسانی سبد</a></div>
					</div>
					<div class="row justify-content-end pt-5">
						<div class="col-12 col-md-7 col-lg-6 col-xl-5">
							<div class="card">
								<div class="card-body">
									<h3 class="card-title">مجموع سبد</h3>
									<table class="cart__totals">
										<thead class="cart__totals-header">
											<tr>
												<th>جمع جزء</th>
												<td>{{cart.get_total_price}} </td>
											</tr>
										</thead>
										<tbody class="cart__totals-body">
											<tr>
												<th>حمل و نقل</th>
												<td>25,000 تومان
													<div class="cart__calc-shipping"><a href="#">محاسبه هزینه</a></div>
												</td>
											</tr>
											<tr>
												<th>مالیات</th>
												<td>0 تومان</td>
											</tr>
										</tbody>
										<tfoot class="cart__totals-footer">
											<tr>
												<th>جمع کل</th>
												<td>5,902,000 تومان</td>
											</tr>
										</tfoot>
									</table><a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="checkout.html">پرداخت</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->



	</div>
{% endblock content %}