{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-header">
				<div class="page-header__container container">

					<div class="page-header__title">
					</div>
				</div>
</div>


<div class="col-md-6 d-flex mt-4 mt-md-0 regblock">
							<div class="card flex-grow-1 mb-0">
								<div class="card-body">
									<h3 class="card-title">ثبت نام</h3>
									<form method="POST">
                                        {% csrf_token %}
										{{register_form|crispy}}
										<button type="submit" class="btn btn-primary mt-4">ثبت نام</button>
									</form>
								</div>
							</div>
</div>





{% endblock content %}