{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-header">
				<div class="page-header__container container">

					<div class="page-header__title">
					</div>
				</div>
</div>


<div class="col-md-3 d-flex mt-4 mt-md-0 loginblock">
							<div class="card flex-grow-1 mb-0">
								<div class="card-body">
									<h3 class="card-title">بازیابی رمزعبور</h3>
									<form method="post">
    {{form|crispy}}
    {% csrf_token %}
    <button type="submit" type="submit" class="btn btn-primary mt-4 send-resetpass-btn">ارسال ایمیل</button>
</form>

								</div>
							</div>
</div>


{% endblock content %}