{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}




<div class="site">
	<div class="site__body">
		<div class="page-header">
			<div class="page-header__container container">
				<div class="page-header__title">
					<h1>پرداخت</h1></div>
			</div>
		</div>
		<div class="checkout block">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-7 ">

						<div class="card mb-1  ">

							<div class="card-body">
<p class="checkout_address">آدرس تحویل شما</p>
								<strong>آدرس :</strong>
								<br>{{address.state}}،{{address.county}}،{{address.city}}،{{address.street_address}}
								<br><strong>کدپستی :</strong>
								<br>{{address.postal_code}}
								<br><a class="add_address_link" href="{% url 'add-address' %}">آدرس جدید</a>

							</div>

						</div>

					</div>

						<div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
							<div class="card mb-0">
								<div class="card-body">
									<h3 class="card-title">سفارش شما</h3>
									<table class="checkout__totals">
										<thead class="checkout__totals-header">
											<tr>
												<th>محصول</th>
												<th>جمع کل</th>
											</tr>
										</thead>
										<tbody class="checkout__totals-products">
										{% for item in cart %}
											<tr>
												<td>{{item.product.title}} <span class="d-inline-block">× {{item.product_count}}</span></td>
												<td>{{item.total_price}} تومان</td>
											</tr>

                                        {% endfor %}
										</tbody>
										<tbody class="checkout__totals-subtotals">
											<tr>
												<th>جمع جزء</th>
												<td>{{cart.get_total_price}} تومان</td>
											</tr>
											<tr>
												<th>اعتبار فروشگاه</th>
												<td>20,000- تومان</td>
											</tr>
											<tr>
												<th>حمل و نقل</th>
												<td>25,000 تومان</td>
											</tr>
										</tbody>
										<tfoot class="checkout__totals-footer">
											<tr>
												<th>جمع کل</th>
												<td>5,882,000 تومان</td>
											</tr>
										</tfoot>
									</table>
									<div class="payment-methods">
										<ul class="payment-methods__list">



											<li class="payment-methods__item">
												<label class="payment-methods__item-header"><span class="payment-methods__item-radio input-radio">
													<span class="input-radio__body">
														<input class="input-radio__input" name="checkout_payment_method" type="radio">
														<span class="input-radio__circle"></span> </span>
													</span><!--<span class="payment-methods__item-title">پرداخت آنلاین</span>-->
													<form action="." method="post">
                            {% csrf_token %}
                            <input class="primary-btn order-submit" type="submit" value="Place Order">
                        </form></label>
												<div class="payment-methods__item-container">
													<div class="payment-methods__item-description text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="checkout__agree form-group">
										<div class="form-check"><span class="form-check-input input-check"><span class="input-check__body"><input class="input-check__input" type="checkbox" id="checkout-terms"> <span class="input-check__box"></span>
											<svg class="input-check__icon" width="9px" height="7px">
												<use xlink:href="images/sprite.svg#check-9x7"></use>
											</svg>
											</span>
											</span>
											<label class="form-check-label" for="checkout-terms">من <a target="_blank" href="terms-and-conditions.html">قوانین و مقررات</a> را خوانده و موافقم *</label>
										</div>
									</div>
									<button type="submit" id="make-payment" class="btn btn-primary btn-xl btn-block">ثبت سفارش</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->



	</div>



{% endblock content %}