{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-header">
	<div class="page-header__container container">

		<div class="page-header__title">

			<h1></h1>

		</div>
	</div>
</div>
<div class="container">
				<div class="shop-layout shop-layout--sidebar--start">

					<div class="shop-layout__content">
						<div class="block">
							<div class="products-view">
								<div class="products-view__options">


								<div class="products-view__list products-list" data-layout="grid-3-sidebar" data-with-features="false">
									<div class="products-list__body">
										{% for product in products %}

										<div class="products-list__item">

											<div class="product-card">

												{% if product.discount == "تخفیف ویژه!" %}
												<div class="product-card__badges-list">
													<div class="product-card__badge product-card__badge--sale">{{product.discount}}</div>
												</div>
												{% endif %}
												<div class="product-card__image">
													<a href="{% url 'product-detail' product.slug %}"><img src="{{product.product_image.url}}" alt=""></a>
												</div>
												<div class="product-card__info">

													<div class="product-card__name"><a href="{% url 'product-detail' product.slug %}">{{product.title}}</a></div>
													<div class="product-card__rating">

														<div class="product-card__rating-legend">{{product.comment_counter}} نقد و بررسی</div>
													</div>

												</div>
												<div class="product-card__actions">

													<div class="product-card__prices">{{product.price}} تومان</div>
													<div class="product-card__buttons">
														<form  class="product__option"  method="post" action="{% url 'cart-add-index' product.pk %}">
															<input class="btn btn-primary product-card__addtocart" type="submit" value="افزودن به سبد">
															{{cart_add}}
															{% csrf_token %}
														</form>
													</div>
												</div>
											</div>

										</div>
										{% endfor %}
									</div>
								</div>



								<div class="products-view__pagination">
									<ul class="pagination justify-content-center">
										{% if is_paginated %}
										    {% if page_obj.has_previous %}
										        <li class="page-item ">
											        <a class="page-link page-link--with-arrow" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
												        <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
													        <use xlink:href="images/sprite.svg#arrow-rounded-left-8x13"></use>
												        </svg>
											        </a>
										        </li>
										    {% endif %}


                                            {% for num in page_obj.paginator.page_range %}
										        {% if page_obj.number == num %}
										            <li class="page-item active"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
										        {% elif num > page_obj.number|add:'-2' and  num < page_obj.number|add:'+2' %}
										            <li class="page-item"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
										        {% endif %}
										    {% endfor %}


                                            {% if page_obj.has_next %}
										        <li class="page-item">
											         <a class="page-link page-link--with-arrow" href="?page={{page_obj.next_page_number}}" aria-label="Next">
												         <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
													         <use xlink:href="images/sprite.svg#arrow-rounded-right-8x13"></use>
												         </svg>
											         </a>
												</li>
										    {% endif %}
										{% endif %}
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
</div>
{% endblock content %}